<div style="position:relative; width:100%; height:auto;">
    <video 
        autoplay 
        muted 
        loop 
        playsinline 
        style="width:100%; height:auto;" 
        controls="false"
    >
        <source src="{{ 'https://cdn.shopify.com/videos/c/o/v/f7e204622d084cdba1a99a740939955f.mp4' | file_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
